{
  "presets": ["react-app"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./components",
        "containers": "./containers"
      }
    }]
  ]
}